otus_architecture_lab_6/.vs/
otus_architecture_lab_6/otus_architecture_lab_6/obj/
otus_architecture_lab_6/otus_architecture_lab_6/bin/
otus_architecture_lab_6/otus_architecture_lab_6_tests/bin/
otus_architecture_lab_6/otus_architecture_lab_6_tests/obj/
otus_architecture_lab_6/packages/
